.algorithm-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-bottom: 20px;
}

.algorithm-box {
    border-radius: 5px;
    padding: 0px;
    background-color: #343a40;
    box-shadow: 0px 0px 10px #343a40;
}

.algorithm-header {
    background-color: transparent;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px #282c30;
    border-bottom-style: solid;
}

.algorithm-footer {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.isActive {
    background-color: #28a745;
    box-shadow: 0px 0px 10px #28a745;
}

.plus-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-bottom: 20px;
}

.statistics-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-bottom: 20px;
}

.plus-box {
    border-radius: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #343a40;
    box-shadow: 0px 0px 10px #343a40;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}

.countriesOptions,
.statisticsOptions {
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plus-btn {
    color: white;
    background-color: #292e33;
    border: 0px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #292e33;
}

.intervalSection {
    float: left;
}

.fillSection {
    float: right;
}

#timeIntervalExtra,
#timeIntervalHashrate,
#btnDefault,
#btnFill {
    color: white;
    background-color: #292e33;
    border: 0px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #292e33;
}


/* Tooltip container */
.tooltipPlus {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipPlus .tooltiptextPlus {
    visibility: hidden;
    width: 200px;
    background-color: #292e33;
    box-shadow: 0px 0px 10px #292e33;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipPlus:hover .tooltiptextPlus {
    visibility: visible;
    opacity: 1;
}

